.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 3%;
}

.box {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}