.background {
  height: 100%;
}

.voltar{
  color: var(--title);
  display: flex;
  width: 100px;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  top: 30px;
}

.voltar a{
  display: block;
  color: var(--title);
  padding: 7px 0;
  padding-left: 45px;
  background: url('/arrow.svg') no-repeat;
  background-size: 25px;
  background-position: 10px 50%;
  cursor: pointer;
}

.containerPricipal {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 550px;
  background: #fff;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  animation: visible 0.4s;
  position: relative;
  z-index: 2;
}

@keyframes visible {
  from{
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }  
}

.descricao .close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1%;
  right: 0.5%;
  cursor: pointer;
  background-color: var(--title);
  border-radius: 5px;
  color: var(--white);
  font-size: 30px;
  z-index: 2;
}
  
.carrossel {
  width: 65%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.carrossel img{
  width: 100%;
  height: 100%;
}

.left,
.right {
  position: absolute;
  width: 10%;
  height: 100%;
  cursor: pointer;
}

.left img,
.right img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
}

.left {
  lefT: 0;
  background: linear-gradient(90deg, #000000 -46.64%, rgba(196, 196, 196, 0) 100.01%);
}

.right {
  right: 0;
  background: linear-gradient(-90deg, #000000 -46.64%, rgba(196, 196, 196, 0) 100.01%);
}

.descricao {
  width: 35%;
  height: 100%;
  background-color: #fff;
  padding: 2% 1%;
}

.titulo {
  font-size: 20px;
  color: var(--title);
  font-family: 'Roboto Mono', monospace;
}

.titulo {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.titulo:after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  background: var(--title);
}

.descricaoProjeto h3{
  margin: 0;
  margin-bottom: 10px;
  color: var(--title);
  font-size: clamp(14px, 2vw, 16px);
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  margin-right: 5px;
}

.descricaoProjeto p{
  color: var(--text);
  font-size: clamp(13px, 2vw, 16px);
}

.tecnologias h3 {
  margin: 10px 0px;
  margin-top: 20px;
  font-size: clamp(14px, 2vw, 16px);
  color: var(--title);
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
}

.icons img {
  margin-right: 10px;
  height: 40px;
}

.tecnologia {
  position: relative;
}

.title {
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(39, 34, 34);
  width: 100px;
  position: absolute;
  top: -40px;
  left: 40%;
  color: var(--white);
  transform: translateX(-50%);
  display: none;
}

.title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tecnologia:hover .title{
  display: block;
}

.links {
  margin-top: 10px;
}

.links h3 {
  color: var(--title);
  display: block;
  font-size: clamp(14px, 2vw, 16px);
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.links strong{
  font-weight: 500;
}

.links p {
  color: var(--text);
  margin: 10px 0px;
  font-size: clamp(13px, 2vw, 16px);
}

.links p a{
  color: var(--text);
}

.links p a:hover{
  color: var(--title);
}

@media(max-width: 900px) {
  .containerPricipal{
    padding-top: 80px;
  }

  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin: 0 auto;
    background: #fff;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    animation: visible 0.4s;
  }

  .carrossel {
    width: 100%;
    height: 55%;
  }

  .descricao {
    height: 45%;
    width: 100%;
    padding: 20px 2%;
  }

  .links {
    padding-bottom: 20px;
  }

  .invisible {
    display: none;
  }
}